::after,
::before {
    box-sizing: border-box
}

body {
    font-family: "Roboto", sans-serif;
    font-display: swap;
    background: #242425;
    background-image: radial-gradient(circle at 20% 100%,
    rgba(184, 184, 184, 0.1) 0%,
    rgba(184, 184, 184, 0.1) 33%,
    rgba(96, 96, 96, 0.1) 33%,
    rgba(96, 96, 96, 0.1) 66%,
    rgba(7, 7, 7, 0.1) 66%,
    rgba(7, 7, 7, 0.1) 99%),
    linear-gradient(40deg, #040a22, #72d1f9, #000000, #000000);
    background-repeat: repeat;
    background-size: cover;
}


section {
    display: grid;
    grid-template-columns: 50% 45%;
    place-items: center;
    gap: 60px;
    min-height: 100vh;
    padding: 20px 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
    margin: 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 36px;
    color: #fff;
}

ul, ol, a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-back {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    background-color: #090809;
}

.header-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-list {
    padding: 10px;
}


.header-list:hover,
.header-list:focus {
    background-color: #f1f1f1;
    border: 2px solid #30d5c8;
    color: #090809;
}

.header-icons {
    fill: #fff;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.header-icons:hover,
.header-icons:focus {
    fill: #30d5c8;
}

.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
    fill: #30d5c8;
}

.navigation {
    margin: 0 40px;
}

.address {
    font-style: normal;
    margin-left: auto;
    display: block;
}

.address-list {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.address-link:hover,
.address-link:focus {
    color: #30d5c8;
}


.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icons {
    display: none;
}


.video-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #090809;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 100px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    transform: scale(0.98);
    background-color: #30d5c8;
    color: #fff;
}












.swiper {
    position: relative;
    width: 400px;
    height: 490px;
}

.swiper-slide {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    user-select: none;
    border-radius: 20px;
}

.cost {
    position: absolute;
    top: 8px;
    right: 6px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 6px 10px;
    color: #fff;
    font-size: clamp(0.8rem, 4vw, 0.9rem);
    font-weight: 600;
}

.dark-text {
    color: #202134;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 10px 20px;
    background: rgba(93, 95, 145, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 0 0 20px 20px;
}

.overlay h1 {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    font-weight: 600;
}

.overlay p {
    font-size: clamp(0.8rem, 4vw, 0.9rem);
    font-weight: 300;
    line-height: 1.3;
}

.ratings {
    display: flex;
    column-gap: 10px;
    margin-top: -6px;
}

.ratings span {
    font-size: clamp(0.8rem, 4vw, 0.9rem);
    font-weight: 300;
}


.logo {
    position: fixed;
    right: -20px;
    bottom: -30px;
    z-index: 10;
}

.logo img {
    width: 120px;
}

@media (max-width: 890px) {
    .logo {
        right: -10px;
        bottom: -20px;
    }

    .logo img {
        width: 80px;
    }
}

@media (max-width: 1050px) {
    .swiper {
        width: 350px;
        height: 450px;
    }
}

@media (max-width: 930px) {
    section {
        grid-template-columns: 100%;
        grid-template-rows: 55% 40%;
        grid-template-areas:
            "slider"
            "content";
        place-items: center;
        gap: 64px;
        padding: 60px;
    }

    .swiper {
        grid-area: slider;
    }

    .content {
        grid-area: content;
        text-align: center;
    }

    .content h1 {
        margin-bottom: 20px;
    }
}

@media (max-width: 470px) {
    section {
        padding: 40px 40px 60px;
    }

    .swiper {
        width: 300px;
        height: 400px;
    }
}






.text-accent {
    font-weight: 400;
    font-size:12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
}

.our-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #5e5e5e;
    text-align: center;
    margin: 10px;
    padding: 0 10px;
}


.our-text2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #5e5e5e;
    text-align: left;
    margin: 10px;
    padding: 0 10px;
}

.team-item:hover .our-team-overlay {
    transform: translateX(0);
}

.team-item:focus .our-team-overlay {
    transform: translateX(0);
}


.overlay-item {
    font-size: 14px;
    padding-left: 8px;
    padding-top: 4px;
    border-radius: 4px;
    background-color: #53ccedd2;
    border: 1px solid rgba(113, 112, 112, 0.2);
}

.overlay-item:hover,
.overlay-item:focus {
    background-color: #fbf0f0;
    color: #090809;
}



@media screen and (min-width: 768px) {

    .our {
        text-align: center;
        margin: 40px;
    }

    .our-slogan {
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        margin: 40px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 60px;
        justify-content: center;
    }

}

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0 40px 60px;
    }

    .our {
        margin: 40px 60px 24px;
        text-align: center;
    }

    .our-slogan {
        font-size: 28px;
        text-align: right;
        margin: 40px 24px;
    }

}




/* CONTENT */

.content {
    max-width: 1528px;
}

.content p {
    font-size: clamp(0.9rem, 3vw, 1.25rem);
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #fff;
}

.content button {
    background: #eaeaea;
    color: #202134;
    font-weight: 600;
    border: 0;
    outline: 0;
    transform: scale(1);
    transition: all 0.4s ease-in;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #090809;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content button:is(:hover, :focus) {
    transform: scale(0.98);
    background-color: #30d5c8;
    color: #eaeaea;
}

/* SLIDER */

.swiper {
    position: relative;
    width: 400px;
    height: 490px;
    margin-bottom: 80px;
}

.swiper-slide {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    user-select: none;
    border-radius: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.overlay h3 {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    font-weight: 600;
    padding-bottom: 8px;
}

.overlay p {
    font-size: clamp(0.8rem, 4vw, 0.9rem);
    font-weight: 300;
    line-height: 1.3;
}

.ratings {
    display: flex;
    column-gap: 10px;
    margin-top: -6px;
}

.ratings span {
    font-size: clamp(0.8rem, 4vw, 0.9rem);
    font-weight: 300;
}


.logo {
    position: fixed;
    right: -20px;
    bottom: -30px;
    z-index: 10;
}

.logo img {
    width: 120px;
}

@media (max-width: 890px) {
    .logo {
        right: -10px;
        bottom: -20px;
    }

    .logo img {
        width: 80px;
    }
}

@media (max-width: 1050px) {
    .swiper {
        width: 350px;
        height: 450px;
    }
}

@media (max-width: 930px) {
    section {
        grid-template-columns: 100%;
        grid-template-rows: 55% 40%;
        grid-template-areas:
            "slider"
            "content";
        place-items: center;
        gap: 64px;
        padding: 60px;
    }

    .swiper {
        grid-area: slider;
    }

}

@media (max-width: 470px) {
    section {
        padding: 40px 40px 60px;
    }

    .swiper {
        width: 300px;
        height: 400px;
    }
}














.ring {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login h3 {
    font-size: 2em;
    color: #fff;
}

.login .inputBx {
    position: relative;
    width: 100%;
}

.login .inputBx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.login .inputBx input[type="submit"] {
    width: 100%;
    background: #28e0f1;
    background: linear-gradient(45deg, #2ff0f7, #0716f1);
    border: none;
    cursor: pointer;
}

.login .inputBx input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.login .links a {
    color: #fff;
    text-decoration: none;
}





.form-field-lable {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 12px;
}
